.chatPage {
  width: 100vw;
  height: 100vh;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  /* align-items: ; */
}

.chatContainer {
  border: 1px solid black;
  background-color: white;
  height: 60%;
  width: 50%;
}

.header {
  background-color: rgb(104, 90, 93);
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > h2 {
  font-size: 1.5vmax;
  color: white;
  margin: 2.5vmax;
}

.header img {
  margin: 2.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.header > img:hover {
  transform: scale(1.2);
}

.chatBox {
  height: 70%;
  box-sizing: border-box;
}

.inputBox {
  height: 30%;
  box-sizing: border-box;
  display: flex;
}

.sendBtn {
  background-color: rgb(104, 90, 93);
  color: white;
  border: none;
  width: 21%;
  transition: all 0.3s;
  cursor: pointer;
}

.sendBtn > img {
  width: 2.6vmax;
  filter: brightness(100) invert();
  transition: all 0.3s;
}
.sendBtn:hover {
  background-color: rgb(156, 13, 42);
}
.sendBtn:hover img {
  transform: translateX(10px);
}

.styleInput {
  font-size: large;
  height: 59px;
  width: 600px;
}
